apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
  namespace: roboshop
  labels:
    project: roboshop
    environment: dev
    component: mongodb
spec: 
  replicas: "{{ .Values.deployment.replicas }}"
  selector:
    matchLabels: 
     project: roboshop
     environment: dev
     component: mongodb

  template:
   metadata:
    labels:
       project: roboshop
       environment: dev
       component: mongodb
   spec:
    containers: 
    - name: mongodb
      image: "{{ .Values.deployment.imageRepo }}:{{ .Values.deployment.imageVersion }}"
      imagePullPolicy: Always
      readinessProbe:
       tcpSocket:
        port: 27017
       initialDelaySeconds: 15
       periodSeconds: 10
      livenessProbe:
        tcpSocket:
         port: 27017
        initialDelaySeconds: 15
        periodSeconds: 10



---
apiVersion: v1
kind: Service
metadata:
  name: mongodb
  namespace: roboshop
  labels:
    project: roboshop
    environment: dev
    component: mongodb
spec:
  selector:
    project: roboshop
    environment: dev
    component: mongodb
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017  
  
  

      